<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="navbar">
    <ion-title>LoginPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="assets/imgs/logo.png" alt="Logo">
  <app-login-form (loginStatus)="login($event)"></app-login-form>
</ion-content>
