<form #loginForm="ngForm" novalidate>
    <ion-card>
        <ion-card-content>
          <ion-item>
            <ion-label floating>Email Address</ion-label>
            <ion-input 
            [(ngModel)]="account.email"
            type="email"
            name="email"
            #email="ngModel"
            required
            pattern="^[A-Z0-9a-z\\._%+-]+@([A-Za-z0-9-]+\\.)+[A-Za-z]{2,4}$"

            ></ion-input>
          </ion-item>

          <div padding *ngIf="email.invalid && email.dirty">
            <span class="global__input-error">Email address is not valid.</span>
          </div>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input 
            [(ngModel)]="account.password" 
            type="password"
            name="password"
            #password="ngModel"
            required
            pattern="[a-zA-Z0-9!@#$%^&*]{6,20}$"
            ></ion-input>
          </ion-item>

          <div padding *ngIf="password.invalid && password.dirty">
              <span class="global__input-error">Password must be at least 6 characters.</span>
          </div>

        </ion-card-content>
        <ion-row class="login-form__buttons">
          <div>
              <button ion-button (click)="navigateToRegisterPage()" color="secondary">Register</button>
              <button ion-button (click)="login()" [disabled]="loginForm.invalid">Login</button>
          </div>
        </ion-row>
      </ion-card>
</form>
