<ion-list>
  <ion-item-divider>Last Messages</ion-item-divider>
  <ion-item *ngFor="let message of messageList$ | async" (click)="navigateToMessage(message)">
    <ion-avatar item-left>
        <img src="assets/imgs/avatar.png" alt="Avatar">
    </ion-avatar>
    <h2>{{message?.userToProfile?.firstName}} {{message?.userToProfile?.lastName}}</h2>
    <p>{{message?.content}}</p>
  </ion-item>
</ion-list>