<!--
  Generated template for the MessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{selectedProfile?.firstName}} {{selectedProfile?.lastName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<app-chat-message *ngFor="let message of messageList | async" [chatMessage]="message"
[userId]="userId"></app-chat-message>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <app-send-message-box (sendMessage)="sendMessage($event)"></app-send-message-box>
  </ion-toolbar>
</ion-footer>