<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="navigateToEditProfilePage()">EDIT</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content >
  <add-profie-view (existingProfile)="getExistingProfile($event)"></add-profie-view>
  <button ion-button block (click)="signOut()">Log Out</button>
</ion-content>
