<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inbox</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToSearchUserPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <app-online-users>
    
  </app-online-users>

  <app-last-message-list></app-last-message-list>
  <!-- <ion-list>
    <ion-item *ngFor="let message of messageList">
      <ion-avatar item-left>
        <img [src]="message.user.avatar" alt="">
      </ion-avatar>
        <h2>{{message.user.firstName }} {{ message.user.lastName}}</h2>
        <p>{{message.lastMessage}}</p>
    </ion-item>
  </ion-list> -->
</ion-content>
