<ion-item no-lines class="chat-message__message-right" *ngIf="chatMessage.userToId === userId; else from">
  <ion-avatar item-right>
    <img src="assets/imgs/avatar.png" alt="">
  </ion-avatar>
  <h2>{{chatMessage?.userFromProfile?.firstName}} {{chatMessage?.userFromProfile?.lastName}}</h2>
  <p>{{chatMessage.content}}</p>
</ion-item>
<ng-template #from>
  <ion-item no-lines >
    <ion-avatar item-left>
      <img src="assets/imgs/avatar.png" alt="">
    </ion-avatar>
    <h2>{{chatMessage?.userFromProfile?.firstName}} {{chatMessage?.userFromProfile?.lastName}}</h2>
    <p>{{chatMessage.content}}</p>
  </ion-item>
</ng-template>
