<ion-grid>
  <ion-row>
    <ion-col col-9>
      <ion-textarea [(ngModel)]="content" placeholder="Enter message.."></ion-textarea>
    </ion-col>
    <ion-col col-3>
      <button clear ion-button (click)="send()">Submit</button>
    </ion-col>
  </ion-row>
</ion-grid>